@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

p,
a{
    font-family: 'poppins';
}



body{
    background-color: #4D4C4C;
}

header{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
}

header>.menu{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

header>.menu>.nav-links{
    width: auto;
    height: auto;
    display: flex;
    margin-right: 150px ;
    align-items: center;
}

header>.menu>.nav-links> ul{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}

header>.menu>.nav-links> ul > li{
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
    height: 76px;
    transition: 0.2s;
}

header>.menu>.nav-links> ul > li:hover{
    border-bottom: 3px inset #E66423 ;
}

header>.menu>.nav-links> ul > li:hover a{
    color: #E66423;
}

header>.menu>.nav-links> ul > li > a{
    color: black;
    text-decoration: none;
    font-size: 1em;
}

header>.menu>.nav-links>.btn{
    width: auto;
    height: auto;
}

header>.menu>.nav-links>.btn> button{
    background-color: transparent;
    border: 1px solid #E66423;
    border-radius: 7px;
    width: 100px;
    height: 45px;
    cursor: pointer;
    outline: 0;
    margin-left: 20px;
    transition: 0.4s;
}

header>.menu>.nav-links>.btn> button:hover{
    background-color: #E66423;
    border: none;
}

header>.menu>.nav-links>.btn> button:hover> p{
    color: white;
}

header>.menu>.nav-links>.btn> button > p{
    color: #E66423;
    transition: 0.2s;
}

/* ###################################################### image scroll ###################################################### */

section{
    height: auto;
    width: auto;
}


section >.container-message{
    width: auto;
    height: auto;
    background-color: #43004F;
}

section >.container-message>.image{
    height: 700px;
    width: 100vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

section>.container-message>.image> img{
    opacity: 0;
    position: absolute;
    height: 700px;
    width: 100vw;
    min-width: 1100px;
    background-repeat: no-repeat;
    transition: 1s;
}

section>.container-message>.image>.animation{
    opacity: 0.2;
}

section>.container-message>.image>.text>.title{
    height: auto;
    width: auto;
    position: relative;
    transform: translateY(30px);
    animation: animate 1s;
    animation-iteration-count: 1;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: 0.3s;
}
section>.container-message>.image>.text>.title> p{
    font-size: 1.5em;
    color: white;
}

section>.container-message>.image>.text>.text-hover{
    height: auto;
    width: auto;
    transform: translateY(60px);
    animation: animate 1s;
    animation-iteration-count: 1;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    margin-top: 15px;
    opacity: 0;
    transition: 0.3s;
    animation-timing-function: ease;
}



section>.container-message>.image>.text>.text-hover>p{
    font-size: 2em;
    color: white;  
}
section>.container-message>.image>.text>.btn-hover{
    height: auto;
    width: 100%;
    display:flex;
    justify-content: center;
    transform: translateY(100px);
    animation: animate 1s;
    animation-iteration-count: 1;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: 0.3s;
    margin-top: 15px ;
}

section>.container-message>.image>.text>.btn-hover> button{
    background-color: #E66423;
    border: none;
    height: 50px;
    width: 300px;
    outline: none;
    transform: skew(-30deg);
    cursor: pointer;
    transition: 0.4s;
}

section>.container-message>.image>.text>.btn-hover> button:hover{
    transform: skew(30deg);
    background-color: white;
}

section>.container-message>.image>.text>.btn-hover> button > p{
    color: white;
    font-size: 1.3em;
    transform: skew(30deg)
}
section>.container-message>.image>.text>.btn-hover> button:hover > p{
    color: #E66423;
    transform: skew(-30deg)
}


@keyframes animate{
    100%{
        transform: translateY(-50px);
        opacity: 1;
    }
}
